<div id="page-wrapper">
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Dashboard</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>

<!-- /.row -->
<div class="row">
    <div class="col-lg-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-bar-chart-o fa-fw"></i> Area Chart
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;


                <div class="btn-group" data-toggle="buttons">
                    <span> Data-size: &nbsp; </span>
                    <input type="radio" ng-model="numberOfData" value="50" ng-change="loadData()"> 50
                    <input type="radio" ng-model="numberOfData" value="100" ng-change="loadData()"> 100
                    <input type="radio" ng-model="numberOfData" value="200" ng-change="loadData()"> 200
                </div>

                <div class="pull-right">
                    <form name="myForm">
                        Time series
                        <select name="repeatSelect" id="repeatSelect" ng-model="timeSeries.model" ng-change="loadData()">
                            <option ng-repeat="option in timeSeries.availableOptions" value="{{option.id}}" >{{option.name}}</option>
                        </select>
                    </form>
                </div>
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <canvas id="line" class="chart chart-line" chart-data="podaci"
                        chart-labels="dates" chart-series="series5" chart-options="options"
                        chart-dataset-override="datasetOverride" chart-click="onClick">
                </canvas>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-bar-chart-o fa-fw"></i> Bar Chart Example
                <div class="pull-right">
                    <div class="btn-group">
                        <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                            Actions
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu pull-right" role="menu">
                            <li><a href="#">Action</a>
                            </li>
                            <li><a href="#">Another action</a>
                            </li>
                            <li><a href="#">Something else here</a>
                            </li>
                            <li class="divider"></li>
                            <li><a href="#">Separated link</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover table-striped">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Date</th>
                                    <th>Time</th>
                                    <th>Amount</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>3326</td>
                                    <td>10/21/2013</td>
                                    <td>3:29 PM</td>
                                    <td>$321.33</td>
                                </tr>
                                <tr>
                                    <td>3325</td>
                                    <td>10/21/2013</td>
                                    <td>3:20 PM</td>
                                    <td>$234.34</td>
                                </tr>
                                <tr>
                                    <td>3324</td>
                                    <td>10/21/2013</td>
                                    <td>3:03 PM</td>
                                    <td>$724.17</td>
                                </tr>
                                <tr>
                                    <td>3323</td>
                                    <td>10/21/2013</td>
                                    <td>3:00 PM</td>
                                    <td>$23.71</td>
                                </tr>
                                <tr>
                                    <td>3322</td>
                                    <td>10/21/2013</td>
                                    <td>2:49 PM</td>
                                    <td>$8345.23</td>
                                </tr>
                                <tr>
                                    <td>3321</td>
                                    <td>10/21/2013</td>
                                    <td>2:23 PM</td>
                                    <td>$245.12</td>
                                </tr>
                                <tr>
                                    <td>3320</td>
                                    <td>10/21/2013</td>
                                    <td>2:15 PM</td>
                                    <td>$5663.54</td>
                                </tr>
                                <tr>
                                    <td>3319</td>
                                    <td>10/21/2013</td>
                                    <td>2:13 PM</td>
                                    <td>$943.45</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- /.table-responsive -->
                    </div>
                    <!-- /.col-lg-4 (nested) -->
                    <!--<div class="col-lg-8">-->
                        <!--&lt;!&ndash;<div id="morris-bar-chart"></div>&ndash;&gt;-->
                        <!--<canvas id="radar" class="chart chart-radar"-->
                                <!--chart-data="data3" chart-options="options" chart-labels="labels3">-->
                        <!--</canvas>-->
                    <!--</div>-->
                    <!-- /.col-lg-8 (nested) -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->

        <!-- /.panel -->
    </div>
    <!-- /.col-lg-8 -->
    <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-tasks fa-fw"></i> Choose Stock
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="list-group">
                    <div class="input-group custom-search-form">
                        <input type="text" class="form-control" placeholder="Search by name.." ng-model="stock.name">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>

                    <br>
                    <i class="fas fa-chart-line"></i>
                    <div ng-repeat="stock in stocks | filter:stock track by $index ">

                        <a ng-if="$index < 5"  href="#" class="list-group-item">
                            <i class="fa fa-pie-chart" aria-hidden="true"></i>
                            {{stock.symbol}}
                            <span class="pull-right text-muted small"><em>{{stock.name}}</em> </span>
                        </a>
                    </div>
                </div>
                <!-- /.list-group -->
                <a href="#" class="btn btn-default btn-block">View More</a>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-bar-chart-o fa-fw"></i> Donut Chart Example
            </div>
            <div class="panel-body">
                <canvas id="doughnut" class="chart chart-doughnut"
                        chart-data="dataDonut" chart-labels="labelsDonut">
                </canvas>
                <a href="#" class="btn btn-default btn-block">View Details</a>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->

        <!-- /.panel .chat-panel -->
    </div>
    <!-- /.col-lg-4 -->
</div>
<!-- /.row -->
</div>
<!-- /#page-wrapper -->


<style>


    button#b50:focus
    {
        background:grey;
    }

    button#b100:focus
    {
        background:grey;
    }

    button#b200:focus
    {
        background:grey;
    }


</style>